@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.nav-item {
  display: flex;
  gap: 40px;
}
.nav-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-item ul li {
  list-style: none;
}
.nav-item ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.nav-item .active {
  color: #058b8c;
}
.nav-item button {
  padding: 19px 35px;
  border-radius: 48px;
  background: #058b8c;
  font-size: 18px;
  color: white;
  border: none;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2),
    3px 4px 10px 0px rgba(0, 0, 0, 0.2) inset;
}
.nav-item button i {
  padding: 0 8px;
}
/* hero section start */
.hero {
  display: flex;
  justify-content: space-around;
}
.hero .hero-text {
  width: 50%;
  padding: 100px 50px 100px 100px;
}
.hero .hero-text .feature {
  width: 126px;
  border-radius: 30px;
  background: #058b8c;
  color: white;
  padding: 10px 20px;
}
.hero .hero-text h2 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
  padding-top: 20px;
}
.hero .hero-text h1 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -3.6px;
}
.hero .hero-text span {
  color: #058b8c;
}
.hero .hero-text p {
  width: 626px;
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.hero .hero-btn button {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 48px;
  background-color: transparent;
  padding-left: 20px;
}
.hero-text .hero-btn .btn {
  background: #8d0f11;
  border: none;
  margin-top: 20px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2),
    3px 4px 10px 0px rgba(0, 0, 0, 0.2) inset;
}
.hero .hero-image {
  width: 50%;
  padding: 70px;
}
.hero .hero-image img {
  width: 80%;
  border-radius: 100%;
  position: relative;
}
/* brands start */
.brands {
  display: flex;
  justify-content: center;
  gap: px;
  background: #f9f9f9;
}
.brand {
  width: 253px;
  height: 253px;
}
.brand img {
  width: 150px;
  height: 150px;
  border-radius: 300px;
  background: #f8f8f8;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
}
.brand h5 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-top: 40px;
}
/* who  */
.who {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 20px 200px;
}
.who-pic {
  /* width: 50%; */
  display: flex;
  justify-content: end;
}
.who-pic img {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: relative;
  z-index: 100;
}
.who-pic span {
  position: absolute;
  top: 1100px;
  /* bottom: 90px; */
  left: 150px;
  width: 471px;
  height: 471px;
  border-radius: 471px;
  opacity: 0.2;
  background: #c4c4c4;
}
.text {
  /* width: 50%; */
  padding: 30px 0;
}
.text h3 {
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}
.text h3 span {
  color: #058b8c;
}
.text p {
  width: 692px;
  color: #1e1e1e;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  padding-bottom: 20px;
}
/* company section start */
.company {
  display: flex;
  justify-content: space-around;
  padding: 64px 100px;
  background: #058b8c;
  gap: 100px;
}
.com-text {
  width: 50%;
  padding: 30px 0;
}
.com-text h2 {
  color: #fff;
  font-family: Rubik;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
  padding-bottom: 10px;
}
.com-text span {
  font-weight: 700;
}
.com-text h6 {
  color: #fff;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  width: 692px;
  padding-top: 20px;
}
.company .com-pic {
  width: 50%;
  padding-top: 20px;
}
.company .com-pic img {
  width: 100%;
  border-radius: 100%;
}
.quick-s {
  background: #058b8c;
  padding: 150px 0;
  text-align: center;
}
.quick-s h5 {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.8px;
  padding-bottom: 50px;
}
.quick-s span {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.26px;
}
.quick-s span i {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* footer section */
footer {
  background: #f9f9f9;
}
